.App {
  background: linear-gradient(to bottom, #ffaf5c, #ff6b6b);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header h1 {
  color: #fff;
  padding: 20px;
  font-size: 5rem;
  margin: 0;
}

.animeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.animeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.animeCardImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  margin-right: 10px;
  width: 400px;
  max-width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
